.portfolioMenuContainer {
    border: solid black 1px;
/*     margin: 5vh 10vw; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1980px;
}

/* classes related to default items (nothing expanded) */
.defaultItemsContainer {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.portfolioItemContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-height: 40vh;   
}
@media only screen and (min-width: 1000px) {
    /* make portfolio item default view expand to 2 columns on wide devices */
    .portfolioItemContainer {min-width: 50%;}
    /* push the portfolio menu to the centre of the screen on wide devices */
    .portfolioMenuContainer {margin: 5vh 10vw;}
}
/* interactive button holding the portfolio item thumbnail and text div when everything is collapsed
expands the portfolio item when clicked
*/
.portfolioItemSmall {
    background: inherit;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    height: 100%;
}
.portfolioImageDefault {
    max-height: 50%;
}
.itemSmallText > h1 {
    max-height: 50%;
}

/* clases related to an expanded portfolio item */

/* interactive button holding the portfolio item information when the item is expanded
closes the expansion when clicked 
*/
.expandedItemContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 1680px;
    margin: auto;
    margin-bottom: 2vh;
    border: solid black 1px;
    padding: 0 1vw;
}

/* item title */
.expandedItemContainer > h1 {
    
}

/* click-through button */
.expandedItemContainer > button {
    margin: auto;
    margin-top: 2vh;
    min-width: 20vw;
    min-height: 5vh;
    background: none;
    border: solid 1px black;
}

.expandedItemContainer > button:hover {
    background-color: #940909;
    color: #ffffff;

}

/* classes related to collapsed items (thumbnail only) */

/* container that holds thumbnails*/
.collapsedItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black 1px;
    justify-content: center;
    background: #ffffff;
}
/* portfolio items that exist as thumbnails below an expanded item */
.portfolioItemThumbnail {
    padding: 0;
    border: 0;
    background: #ffffff;
}
