:root {
  --max-width: 1980px;
  --grey: #efefef;
  --green: #4ecbaa; 
  --red: #c24a66;
  --blue: #D7EAFF;
  --text-color: #000000;
  --off-white: #f1f1f1;
  --header-height: 15vh;
  --header-margin: 5vh;
  --footer-height: 2vh;
  --site-wMargin: 0vw;
  box-sizing: border-box;
  font-size: 20px;
}
* {
  /* border: solid; */
  margin: 0;
  box-sizing: border-box;
  background-color: var(--off-white);
  color: var(--text-color);
}
html {
/*   max-width: var(--max-width); */
  width: 100%;
  line-height: 1.15;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
/* header and navbar */
ul {
  list-style: none;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.site-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgba(0, 0, 0, 0.603);
  left: 0;
  top: 0;
  background-color: var(--off-white);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
/*   min-height: var(--header-height); */
  height: var(--header-height);
/*   border-bottom: var(--header-margin);
  min-height: var(--header-height); */
/*   margin-bottom: 50vh;
  margin-top: 50vh; */
  /* background-color: var(--grey); */
}
/* .navbar-above {
  width: 40%
} */
.logo {
  max-width: 20vw;
  width: 100px;
  flex-shrink: 0;
}
.navbar-container {
  /* border-top: solid 1px #2C2C2C; */
  list-style: none;
  display: flex;
  flex-direction: row;
/*   justify-content: center; */
  align-items: center;
  gap: 0.5rem;
/*   margin-bottom: 1vh; */
  padding: 0;
  margin-left: 1rem;
}
/* navbar links */
.navbar-container > li {
  margin-top: 1vh;
}
.navbar-container > li > a,.header-link {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.75s, transform 0.75s;
  color: inherit;
}
.navbar-container > li > a:visited {
  color: inherit;
}
@media (hover: hover) {
  .navbar-container > li > a:hover {
    opacity: 0.5;
    transition: opacity 0.75s, transform 0.75s;
    text-decoration: underline;
    transform: scale(1.1);
  }
  .blogPostLink:hover {
    transform: scale(1.1);
    transition: transform 0.75s;
  }
}
main {
  width: 100%;
  margin-top: var(--header-height);
}
/* Section Styling */
.sectionBlock {
  min-height: 40vh;
  width: 100%;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2vh 15%;
  margin-bottom: 4vh;
  align-items: center;
}
.sectionContent p {
  text-align: left;
}
/* .sectionBlock > .sectionContentCentered {
  text-align: center;
  margin: auto;
} */

/* .sectionContent p {
  margin: 0 5vw;
} */
.largeButton {
  transition: transform 0.3s;
  text-decoration: none;
  text-align: center;
  color: inherit;
}
.largeButton:hover {
  transform: scale(1.02);
  font-weight: 500;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}
.largeButton:visited {
  text-decoration: none;
  color: inherit;
}
.sectionFillPage {
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  margin-top: var(--header-height);
}
/* Buttons */
/* grey section styles */
.bgGrey {
  background-color: var(--grey);
  background-color: var(--off-white);
}
.bgGrey > .sectionContent .largeButton { 
  background-color: var(--red);
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
/* green section styles */
.bgGreen {
  background-color: var(--green);
  background-color: var(--off-white);
}
/* red section styles */
.bgRed {
  background-color: var(--red);
  background-color: var(--off-white);
}
/* blue section styles */
.bgBlue {
  background-color: var(--blue);
  background-color: var(--off-white);
}
.bgBlue > .sectionContent > button { 
  background-color: var(--grey);
}
.flexCentered {
  display: flex;
  flex-direction: column;
  margin: 0vh var(--site-wMargin);
/*   gap: 2vh; */
  justify-content: center;
/*   align-items: center; */
}
.flexCentered > h1 ,.flex > h1 {
  margin: 2vh auto;
}
.flex {
  display: flex;
  flex-direction: column;
  margin: 0vh var(--site-wMargin);
}
/* Footer */
.siteFooter {
  display: flex;
  flex-direction: row;
  min-height: var(--footer-height);
  margin: 0 var(--site-wMargin);
}
.siteFooter > p {
  margin-left: auto;
  margin-right: 1vw;
}
/* Blogpost Styling */
.blogPostLink {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border: solid #ffffff;
  padding: 2vh 2vw;
  transform: scale(1);
  transition: transform 0.75s;
  text-decoration: none;
  color: black;
}
.blogPostLink > p:last-child {
  font-size: 0.5rem;
  text-decoration: underline;
  text-align: left;
}
.blogTitle {
  display: flex;
  flex-wrap: wrap;
/*   margin: 0 5vw; */
  gap: 1.5vw;
}
.blogTitle p {
  margin: 0 0;
}