:root {
  --max-width: 1980px;
  --grey: #efefef;
  --green: #4ecbaa; 
  --red: #c24a66;
  --blue: #D7EAFF;
  --header-height: 15vh;
  --header-margin: 5vh;
  --footer-height: 2vh;
  --site-wMargin: 0vw;
  box-sizing: border-box;
  font-size: 20px;
}
* {
  /* border: solid; */
  margin: 0;
  box-sizing: border-box;
}
html {
  max-width: var(--max-width);
  line-height: 1.15;
}
/* h1 {
  margin: 0 auto;
} */
/* header and navbar */
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: var(--header-margin);
  min-height: var(--header-height);
  gap: 20px;
  margin-bottom: 1rem;
  /* background-color: var(--grey); */
}
.navbar-above {
  width: 40%
}
.navbar-container {
  /* border-top: solid 1px #2C2C2C; */
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin-bottom: 1vh;
  padding: 0;
}
/* navbar links */
.navbar-container > li {
  margin-top: 1vh;
}
.navbar-container > li > a {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.75s, transform 0.75s;
}
.navbar-container > li > a:visited {
  color: inherit;
}
@media (hover: hover) {
  .navbar-container > li > a:hover {
    opacity: 0.5;
    transition: opacity 0.75s, transform 0.75s;
    text-decoration: underline;
    transform: scale(1.3);
  }
  .blogPostLink:hover {
    transform: scale(1.1);
    transition: transform 0.75s;
  }
}
/* Section Styling */
.sectionBlock {
  min-height: 40vh;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2vh 15%;
  margin-bottom: 4vh;
  align-items: center;
}
.sectionContent p {
  text-align: left;
}
/* .sectionBlock > .sectionContentCentered {
  text-align: center;
  margin: auto;
} */

/* .sectionContent p {
  margin: 0 5vw;
} */
.largeButton {
  transition: transform 0.3s;
  text-decoration: none;
  text-align: center;
}
.largeButton:hover {
  transform: scale(1.02);
  font-weight: 500;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}
.largeButton:visited {
  text-decoration: none;
  color: inherit;
}
.sectionFillPage {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
/* Buttons */
/* grey section styles */
.bgGrey {
  background-color: var(--grey);
}
.bgGrey > .sectionContent .largeButton { 
  background-color: var(--red);
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}
/* green section styles */
.bgGreen {
  background-color: var(--green);
}
/* red section styles */
.bgRed {
  background-color: var(--red);
}
/* blue section styles */
.bgBlue {
  background-color: var(--blue);
}
.bgBlue > .sectionContent > button { 
  background-color: var(--grey);
}
.flexCentered {
  display: flex;
  flex-direction: column;
  margin: 0vh var(--site-wMargin);
/*   gap: 2vh; */
  justify-content: center;
/*   align-items: center; */
}
.flexCentered > h1 ,.flex > h1 {
  margin: 2vh auto;
}
.flex {
  display: flex;
  flex-direction: column;
  margin: 0vh var(--site-wMargin);
}
.flex h1 {
  margin:
}
/* Footer */
.siteFooter {
  display: flex;
  flex-direction: row;
  min-height: var(--footer-height);
  margin: 0 var(--site-wMargin);
}
.siteFooter > p {
  margin-left: auto;
  margin-right: 1vw;
}
/* Blogpost Styling */
.blogPostLink {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border: solid #ffffff;
  padding: 2vh 2vw;
  transform: scale(1);
  transition: transform 0.75s;
  text-decoration: none;
  color: black;
}
.blogPostLink > p:last-child {
  font-size: 0.5rem;
  text-decoration: underline;
  text-align: left;
}
.blogTitle {
  display: flex;
  flex-wrap: wrap;
/*   margin: 0 5vw; */
  gap: 1.5vw;
}
.blogTitle p {
  margin: 0 0;
}