.text {
    color: aqua;
    margin: 0;
    padding: 0;
}
.contentContainer {
    box-sizing: border-box;
    margin: 0 1vw;
    margin-top: 110px;
    padding: 0;
/*     border: solid black 1px; */
    height: calc(100vh - 110px);

}