.text {
    color: aqua;
    margin: 0;
    padding: 0;
}
.contentContainer {
    box-sizing: border-box;
    margin-top: calc(var(--header-height) + 20px);
    padding: 0;
/*     border: solid black 1px; */
    height: calc(100vh - 110px);

}
