.contactForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    gap: 2vh;
    width: 100%;
}
.contactInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
.cfContainer {
    min-width: 48%;
}
.cfContainer label {
    display:inline-block;
    line-height: 1.5rem;
    width: 25%;
}
.cfContainer input {
    margin-right: 1rem;
    width: 100%;
    min-width: 20%;
    padding-left: 0.3rem;
    height: 1.3rem;

}
.cfMessageContainer {
    width: 100%;
}
.cfMessageContainer label {
    line-height: 2rem;
}
.cfMessage {
    height: 40vh;
    width: 100%;
    min-width: 50%;
    max-height: 50vh;   
}
.cfSubmit {
    border: none;
    cursor: pointer;   
    transition: background-color 0.3s, transform 0.3s;
    background-color: var(--grey); 
    border: solid black 1px;
    max-width: 50%;
    margin-right: auto;
    height: 2rem;
    width: 5rem;
}
@media (hover: hover) {
    .cfSubmit:hover {
        background-color: var(--green);
        transform: scale(1.05);
        font-weight: bold;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    }
}
.cfSubmit:disabled {
    opacity: 0.4;
}
